		html,
		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 14px;
			line-height: 1.5;
			color: #24292e;
			margin: 0px;
		}

		h1 {
			margin: 10px;
		}

		#wrapper {
			width: 100%;
			background-color: #fff;
		}

		#top-navigation {
			position: fixed;
			top: 0;
			height: 60px;
			width: 100%;
			background-color: #62bc46;
			color: #ffffff;
		}

		#navigation {
			position: fixed;
			width: 250px;
			height: 100vh;
			overflow-y: scroll;
			background-color: #fafbfc;
			border-bottom: 1px solid #e1e4e8;
		}

		#content {
			margin: 60px 0 0 250px;
			padding: 0 30px;
			overflow-y: scroll;
		}

		.gridRow {
			margin: 5px;
			/*border: 1px solid gray;*/
		}

		.gridRow.itemSelected,
		.gridRow.itemOver {
			/*color: #586069;*/
			background-color: #c8e1ff;
			/*border: 1px solid #c8e1ff;*/
			border-radius: 3px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0
		}

		.gridRow.itemFocused {
			background-color: #116cd6;
		}